.useful-logo {
    height: 70px;
    width: 70px;
}

.logo-inner {
    max-width: 170px;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-content:center;
    align-items:center;
    text-align: center;
}

.useful-links-main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

.logo-text {
    font-size: 13px;
    font-family: "BPG Nino Mtavruli Book", sans-serif;
}

.logo-container a {
    color: #000;
}


