
.offcanvas-main {
    width: 100%;
}

.offcanvas-bg {
    min-width: 430px;
}






.fixed-top {
    color: #fff;
    display: flex;
}

.nav-toggle {
    position: absolute;
    top: 60px;
    right: 150px;
    background-color: #fff;
}

.offcanvas-logo {
    width: 100px;
    height: 100px;
}

.offcanvas-bg {
    background-color: #fff;
}




.navlink-item {
    color: #243760;
    font-size: 20px;
    font-weight: 600;
    font-family: "BPG ExtraSquare Mtavruli", sans-serif;
    border-radius: 20px;
    transition: 0.2s;
}

.navlink-item-2 {
    margin-left: 10px;
    color: #243760;
    font-size: 16px;
    font-family: "BPG ExtraSquare Mtavruli", sans-serif;
    border-radius: 20px;
    transition: 0.2s;
}


.navlink-item:hover {
    border-radius: 20px;
    color: #2F69BF;
    font-size: 20px;
    transform: scale(1.020);
}

.NavDropdown-title {
    color: white !important;
    transition: 1s;
    border-radius: 20px;
}
/* 
.dropdown-menu {
    border: #202A6E 4px solid;
    border-radius: 20px;
    overflow: hidden;
    max-width: auto;
    max-width: 370px;
    margin: 0 10px 0 10px;
} */

.dropdown-menu {
    border: none;
}

.a-color {
    border: #202A6E 3px solid;
    border-radius: 20px;
    overflow: hidden;
    max-width: auto;
    max-width: 370px;
    margin: 0 10px 0 10px;
}

.a-color-2 {
    border: #202A6E 2px solid;
    border-radius: 20px;
    overflow: hidden;
    max-width: auto;
    max-width: 370px;
    margin: 0 10px 0 10px;
}




.navlink-item-inner{
    padding: 5px 2px 5px 2px;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s;
    margin: 5px 5px 5px 10px;
    max-width: 90%;
    border-radius: 30px;
    color: #243760;
    font-family: "BPG Banner ExtraSquare Caps", sans-serif;
}

.navlink-item-inner:hover {
    max-width: 96%;
    overflow: hidden;
    transform: scale(1.030);
    font-size: 16px;
    color:#fff;
    background-color:#1D2A73;
    border-radius: 30px;
}


.navlink-item-inner-2{
    margin: 5px 0px 10px 0px;
    padding: 3px 10px 3px 10px;
    font-size: 14px;
    transition: 0.5s;
    max-width: 100%;
    border-radius: 30px;
    color: #243760;
    font-family: "BPG Banner ExtraSquare Caps", sans-serif;
}

.navlink-item-inner-2:hover {
    margin: 5px 0px 10px 0px;
    padding: 3px 10px 3px 10px;
    max-width: 100%;
    overflow: hidden;
    transform: scale(1.020);
    font-size: 14px;
    color:#fff;
    background-color:#1D2A73;
    border-radius: 30px;
}






.navlink-item-inner a:hover {
    font-size: 18px;
    color:#fff;
    background-color:#4069EB;
    border-radius: 15px;
    
}
.navlink-item a {
    color: #243760;
}
/* .justify-content-end a:hover {
    color: #4069EB;
} */

.contacts-btn:hover {
    color:#4069EB;
}



@media (max-width: 912px) {
    .nav-toggle {
    position: absolute;
    top: 15px;
    right: 20px;
   }
   .offcanvas-bg {
    min-width: 100%;
}
   .dropdown-menu {
    max-width: 400px;
    overflow: hidden;
}
    .navlink-overfolow-scroll {
        overflow: scroll;
    }


}


@media (max-width: 281px) {
    .nav-toggle {
        position: absolute;
        top: 15px;
        right: 20px;
    }
   .dropdown-menu {
        min-width: 99%;
        overflow: hidden;
    }
    .navlink-item-inner{
        padding: 4px 2px 4px 20px;
        margin: 0;
        font-size: 13px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        white-space: nowrap;
    }
    .navlink-overfolow-scroll {
        overflow: scroll;
    }

    .navlink-item {
        font-size: 16px;
    }


}