@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:600i');

.swipe-container {
  margin-top: 50px;
}
.swiper-border {
  border-radius: 40px;
  box-shadow: -1px 24px 37px 0px rgba(0,0,0,0.64);
  background-color: #ffffff;
  width: 100%;
  height: 200px;
  /* background-image: url('/public/Images/sliderimg/education.webp');
  background-size: cover; 
  background-repeat: no-repeat; */
  background-color: #ffffff;
}

.swiper-item {
  text-align: center;
}

.fa-icon {
  height: 50px;
  width: 50px;
  color: #000;
}

.swiper-text {
  color: #000;
  font-family: 'FiraGO', sans-serif;
  font-size: 20px;
}



@media screen and (min-width: 577px) {
  .swiper-border:hover {
      transform: scale(1.050);
  }
}

@media screen and (max-width: 576px) {
  .swiper-borderswiper-border {
      max-width: 100%;
      margin-top: 40px !important; 
      
  }

  .swiper-border:hover {
      transform: none; 
  }
}
