/* .header-bg {
    background: rgb(64,105,235);
    background: linear-gradient(90deg, rgba(64,105,235,1) 0%, rgba(64,105,235,0.6349133403361344) 50%, rgba(64,105,235,1) 100%);
    color: #fff;
    position: relative;
    z-index: 1;
}

.header-burger {
    background-color: #fff;
    color: #4A68E3;
}

.navlink-language {
    position: absolute;
    top: 30px;
    right: 100px;
    font-size: 18px;
}

.logo-img {
    height: 150px;
    width: 150px;
} */