body {
    background-color: #FEFFFF;
}

a {
    text-decoration: none;
    color:#ffffff;
}

Link {
    color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



 * body h1 h2 h3 h4 h5 h6 a p div span {
    font-family: "BPG ExtraSquare Mtavruli", sans-serif;
}
