.one-h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "BPG ExtraSquare Mtavruli", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #243760;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;

  }
  .one-h1 span{
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  }
  .one-h1 em {
    font-style: normal;
    font-weight: 600;
  }

  .one h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  .one h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
  }
  .one h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
  }

  .notfound-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .notfound-goback {
    background-color: #202A6E;
    padding: 0 10px 0 0;
    color: #fff;
    font-size: 25px;
    max-width: 100px;

    
  }
  @media screen and (max-width: 500px) { 
    .one-h1 {
        font-size: 30px;
    }
  }

  @media screen and (max-width: 380px) { 
    .one-h1 {
        font-size: 26px;
    }
  }